@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&family=Source+Code+Pro:wght@400;500;700&family=Ubuntu&display=swap");
/* 
font-rules{
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Code Pro', monospace;
  font-family: 'Ubuntu', sans-serif;
} 
*/
* {
  margin: 0;
  padding: 0;
}
