.container-text-style {
    font-size: 18px;
  font-family: "Source Code Pro", monospace;
  color: white;
}
span {
  color: #a52a2a;
}

.main_container{
    margin-top: 130px;
    margin-bottom: 200px;
}
.image-container {
  position: relative;
  display: inline-block;
}
.image-container img {
    border-radius: 90px;
    height: 400px;
    padding: 30px;
    background-color: white;
  }
.image-container .button-style {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #8b1c1c;
  color: white;
  text-decoration: none;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  border-radius: 4px;
}

.image-container .button-style:hover {
  background-color: #6f1212;
}
.icon-container img{
    width: fit-content;
    border-radius: 20px;
    background-color: white;
  }
.icon-container{
  margin: 100px 0px 100px;
}