.container-interatividade-inseguranca {
  font-family: 'Source Code Pro', monospace;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 80px;
  height: 90vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-interatividade-inseguranca h2{
  border-bottom: 1px solid #fff;
}


.chart {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  margin-bottom: 20px;
}

.bar {
  flex: 1;
  background-color: #ddd;
  transition: height 0.3s;
}

.blue {
  background-color: #007bff;
}

.red {
  background-color: #dc3545;
}

.legend {
  display: flex;
  justify-content: center;
}

.blue-legend,
.red-legend {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.blue-legend .color-box {
  background-color: #007bff;
}

.red-legend .color-box {
  background-color: #dc3545;
}

#regiao {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

#gravidade {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

.label-select {
  color: #fff;
}
