.menu-brand-container{
  padding: 40px 40px 40px;
  position: absolute;
}
#menu-brand{
  font-size: large;
  color: #fff;
  text-decoration: none;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
}
#menu-brand:hover{
  font-size: large;
  color: #fff;
  text-decoration: none;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
}
.containerLinks:hover{
  border-bottom: 1px solid;
  border-color: #fff;
  color: #6D98BA;
  
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #fdfeff;
}

.bm-burger-bars-hover {
  background: #d9d9d9;
  transition: background 1s ease-in-out;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100vh;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  height: 100%;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
  color: #fff;
  
}
.bm-item {
  padding: 0.8em;
  display: inline-block;
}
.bm-item:hover {
  color: aqua;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.burgerContainer {
  background-color: #373a47;
  height: 100px;
}
